<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>

  <strong>Cover:</strong>
  <%= image_tag "books/#{@book.id}/cover/#{@book.filename}" %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
