<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-2">
      <p id="notice"><%= notice %></p>

      <div>
	<strong>Name:</strong>
	<%= @book.name %>
      </div>

      <div>
	<strong>Description:</strong>
	<%= @book.desc %>
      </div>

      <div>
	<strong>Published at:</strong>
	<span id="published_at"> <%= @book.published_at %> </span>
      </div>

      <div>
	<strong>Cover:</strong>
	<%= image_tag @book.cover.url %>
      </div>

      <%= link_to 'Publish', publish_book_path(@book), method: :patch, remote: true, data: {disable_with: "publishing..."} %> |
      <%= link_to 'Edit', edit_book_path(@book) %> |
      <%= link_to 'Back', books_path %>

    </div>
  </div>

</div>
